<mat-sidenav-container class="sidenav-container">
  
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="nav-header">
      <mat-icon color="primary">science</mat-icon> Lengthy Metrics
    </div>
    
    <div style="display: flex; flex-direction: column; margin-top: 20px;">
      <a routerLink="/dashboard" routerLinkActive="active-link" class="nav-item">
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
      <a routerLink="/quantity" routerLinkActive="active-link" class="nav-item">
        <mat-icon>swap_horiz</mat-icon> Convert & Compare
      </a>
      <a routerLink="/history" routerLinkActive="active-link" class="nav-item">
        <mat-icon>history</mat-icon> History
      </a>
      <a routerLink="/profile" routerLinkActive="active-link" class="nav-item">
        <mat-icon>person</mat-icon> Profile
      </a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <span class="spacer"></span>
      <button mat-icon-button (click)="logout()">
        <mat-icon color="warn">logout</mat-icon>
      </button>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
  
</mat-sidenav-container>
